<!-- Map -->
<div leaflet style="height: 100vh;" [leafletOptions]="options" [leafletBaseLayers]="baseLayers"
	[leafletLayersControlOptions]="layersControlOptions" [leafletMarkerCluster]="markerClusterData"
	[leafletMarkerClusterOptions]="markerClusterOptions" (leafletMarkerClusterReady)="markerClusterReady($event)"
	(leafletMapReady)="mapReady($event)">
</div>

<!-- Search -->
<div
	style="position: absolute; top: 0; width:100%; display:flex; justify-content: center; max-height: 10vh; z-index: 1054;">
	<div class="container-fluid mt-3" style="max-width: 500px;">
		<div class="row my-flex-card">
			<div class="col-lg-12 p-2">
				<div class="d-flex align-items-center p-2  bg-secondary text-white" id="search-bar-container">
					<button type="button"
						class="btn btn-light p-3 rounded-circle btn-circle d-flex justify-content-center align-items-center">
						<i class="bi bi-gear"></i></button>
					<button type="button"
						class="btn btn-light p-3 rounded-circle btn-circle d-flex justify-content-center align-items-center">
						<i class="bi bi-hash"></i></button>
					<div class="input-group input-group-sm">
						<span class="input-group-text p-0" style="border-radius:  50px 0 0 50px;">
							<button type="button"
								class="btn btn-light p-3 rounded-circle btn-circle d-flex justify-content-center align-items-center"><i
									class="bi bi-funnel"></i> </button></span>
						<input type="text" class="form-control" placeholder="Search" aria-label="Search"
							(keydown.enter)="filterResults(filter.value)" #filter>
						<span class="input-group-text p-0" style="border-radius: 0 50px 50px 0;">
							<button type="button"
								class="btn btn-light p-3 rounded-circle btn-circle d-flex justify-content-center align-items-center"
								(click)="filterResults(filter.value)"><i class="bi bi-search"></i></button></span>
					</div>
					<button type="button"
						class="btn btn-light p-3 rounded-circle btn-circle d-flex justify-content-center align-items-center">
						<i class="bi bi-bell"></i></button>
					<button type="button"
						class="btn btn-light p-3 rounded-circle btn-circle d-flex justify-content-center align-items-center">
						<i class="bi bi-bounding-box"></i></button>
					<button type="button"
						class="btn btn-light p-3 rounded-circle btn-circle d-flex justify-content-center align-items-center">
						<i class="bi bi-person-circle"></i></button>
				</div>
			</div>
		</div>
	</div>
</div>
<div style="position: absolute; top: 70px; right: 0; max-height: 10vh; z-index: 1054;" *ngIf="filteredLat">
	<div class="container-fluid mt-3">
		<div class="row my-flex-card">
			<div class="col-lg-6 p-2">
				<div class="card bg-secondary text-white">
					<div class="card-body">
						<h5 class="card-title fw-bold mb-3">Assets</h5>
						<div class="container">
							<div class="row">
								<div class="col-12">
									<span class="h5 fw-bold">1452</span>
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<span class="h5 fw-bold">1,461.23</span> <span> MWp</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 p-2">
				<div class="card bg-secondary text-white">
					<div class="card-body">
						<h5 class="card-title fw-bold mb-3">Today's Performance</h5>
						<div class="container">
							<div class="row">
								<div class="col-12">
									<span class="h5 fw-bold">1,463.23</span> <span> MWh</span>
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<span class="h5 fw-bold">23</span><span> MW</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row my-flex-card">
			<div class="p-2">
				<div class="card bg-secondary text-white">
					<div class="card-body">
						<h5 class="card-title fw-bold mb-3">Daily Energy Generated</h5>
						<app-irradiation-chart [lat]="filteredLat" [long]="filteredLong"></app-irradiation-chart>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>