.modal-dialog {
    opacity: 0.87 !important;
}

.modal-backdrop {
    filter: blur();
}

.modal-content {
    overflow: hidden;
}

.my-flex-card>div>div.card {
    height: calc(100%);
}

.form-control {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 7px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

#search-bar-container {
    border-radius: 500px;
}

#search-bar-container>*:not(:last-child) {
    margin-right: 5px;
}