<!-- Map -->
<div leaflet style="height: 100vh;" [leafletOptions]="options" [leafletBaseLayers]="baseLayers"
	[leafletLayersControlOptions]="layersControlOptions" [leafletMarkerCluster]="markerClusterData"
	[leafletMarkerClusterOptions]="markerClusterOptions" (leafletMarkerClusterReady)="markerClusterReady($event)"
	(leafletMapReady)="mapReady($event)">
</div>

<!-- Search -->
<app-search (filterEvent)="filterResults($event)"></app-search>

<app-search-summary [filteredLat]="filteredLat" [filteredLong]="filteredLong"></app-search-summary>